<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- S e r v l e t s -->
  

     <servlet>
    <servlet-name>postbridge_wo</servlet-name>
    <servlet-class>gu.postbridge_wo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postbridge_wo</servlet-name>
    <url-pattern>/postbridge_wo</url-pattern>
  </servlet-mapping>
  
  
  
     <servlet>
    <servlet-name>postbridge_ship</servlet-name>
    <servlet-class>gu.postbridge_ship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postbridge_ship</servlet-name>
    <url-pattern>/postbridge_ship</url-pattern>
  </servlet-mapping>
  
  
  
     <servlet>
    <servlet-name>postbridge_cons</servlet-name>
    <servlet-class>gu.postbridge_cons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postbridge_cons</servlet-name>
    <url-pattern>/postbridge_cons</url-pattern>
  </servlet-mapping>
  
  
 
  <servlet>
    <servlet-name>del_marker</servlet-name>
    <servlet-class>gu.del_marker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>del_marker</servlet-name>
    <url-pattern>/del_marker</url-pattern>
  </servlet-mapping>
  
    
    
  <servlet>
    <servlet-name>geo</servlet-name>
    <servlet-class>gu.geo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geo</servlet-name>
    <url-pattern>/geo</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>geo2</servlet-name>
    <servlet-class>gu.geo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geo2</servlet-name>
    <url-pattern>/geo2</url-pattern>
  </servlet-mapping>
  
    
    
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>gu.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>del</servlet-name>
    <servlet-class>gu.del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>del</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  
  
        <servlet>
    <servlet-name>aa</servlet-name>
    <servlet-class>gu.aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  
 
  
      <servlet>
    <servlet-name>a2</servlet-name>
    <servlet-class>gu.a2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a2</servlet-name>
    <url-pattern>/a2</url-pattern>
  </servlet-mapping>
  
  
    
      <servlet>
    <servlet-name>a4</servlet-name>
    <servlet-class>gu.a4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a4</servlet-name>
    <url-pattern>/a4</url-pattern>
  </servlet-mapping>
  
  
    
      <servlet>
    <servlet-name>a3</servlet-name>
    <servlet-class>gu.a3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a3</servlet-name>
    <url-pattern>/a3</url-pattern>
  </servlet-mapping>
  
  
  
        <servlet>
    <servlet-name>nship</servlet-name>
    <servlet-class>gu.nship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nship</servlet-name>
    <url-pattern>/nship</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>objectFactory</servlet-name>
    <servlet-class>gu.server.RPCObjectFactoryServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>objectFactory</servlet-name>
    <url-pattern>/gu/objectFactory</url-pattern>
  </servlet-mapping>
 
 
    
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>gu.server.GuServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gu/greet</url-pattern>
  </servlet-mapping>
  
  
     
  <servlet>
    <servlet-name>dbServlet</servlet-name>
    <servlet-class>gu.server.dbServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dbServlet</servlet-name>
    <url-pattern>/gu/db</url-pattern>
  </servlet-mapping>
  
  
 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gu.html</welcome-file>
  </welcome-file-list>

</web-app>
