<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>kwas_mail</servlet-name>
    <servlet-class>tmr.kwas_mail</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>kwas_mail</servlet-name>
    <url-pattern>/mail.aspx</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>kwas_index</servlet-name>
    <servlet-class>tmr.kwas_index</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>kwas_index</servlet-name>
    <url-pattern>/index.aspx</url-pattern>
  </servlet-mapping>


  
  
   
  <servlet>
    <servlet-name>pcm3</servlet-name>
    <servlet-class>tmr.pcm3</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pcm3</servlet-name>
    <url-pattern>/pcm3</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>pcm2</servlet-name>
    <servlet-class>tmr.pcm2</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pcm2</servlet-name>
    <url-pattern>/pcm2</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>pcm1</servlet-name>
    <servlet-class>tmr.pcm1</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pcm1</servlet-name>
    <url-pattern>/pcm1</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>xmlp</servlet-name>
    <servlet-class>tmr.xmlp</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>xmlp</servlet-name>
    <url-pattern>/xmlp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>jxl</servlet-name>
    <servlet-class>tmr.jxl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jxl</servlet-name>
    <url-pattern>/jxl</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
    <servlet-name>mh</servlet-name>
    <servlet-class>tmr.mh</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>mh</servlet-name>
    <url-pattern>/mh</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>pcmws</servlet-name>
    <servlet-class>tmr.pcmws</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pcmws</servlet-name>
    <url-pattern>/pcmws</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>tmr.admin</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>srv</servlet-name>
    <servlet-class>tmr.server.SrvImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>srv</servlet-name>
    <url-pattern>/tmr/srv</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <servlet-name>greet</servlet-name>
    <servlet-class>tmr.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greet</servlet-name>
    <url-pattern>/tmr/greet</url-pattern>
  </servlet-mapping>
 
   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.aspx</welcome-file>
  </welcome-file-list>

</web-app>
