<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>qd.gmap.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gmap/greet</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>aa</servlet-name>
    <servlet-class>qd.gmap.aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  
 
  
      <servlet>
    <servlet-name>a2</servlet-name>
    <servlet-class>qd.gmap.a2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a2</servlet-name>
    <url-pattern>/a2</url-pattern>
  </servlet-mapping>
  
  
    
      <servlet>
    <servlet-name>a4</servlet-name>
    <servlet-class>qd.gmap.a4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a4</servlet-name>
    <url-pattern>/a4</url-pattern>
  </servlet-mapping>
  
  
    
      <servlet>
    <servlet-name>a3</servlet-name>
    <servlet-class>qd.gmap.a3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a3</servlet-name>
    <url-pattern>/a3</url-pattern>
  </servlet-mapping>
  
  
  
        <servlet>
    <servlet-name>nship</servlet-name>
    <servlet-class>qd.gmap.nship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nship</servlet-name>
    <url-pattern>/nship</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gmap.html</welcome-file>
  </welcome-file-list>

</web-app>
