<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>mh</servlet-name>
    <servlet-class>uu.mh</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>mh</servlet-name>
    <url-pattern>/mh</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>od</servlet-name>
    <servlet-class>uu.od</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>od</servlet-name>
    <url-pattern>/od</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <servlet-name>uu</servlet-name>
    <servlet-class>uu.uu</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uu</servlet-name>
    <url-pattern>/uu</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>uu</welcome-file>
  </welcome-file-list>

</web-app>
